/* 共通のスタイル */
body {
  font-family: Arial, sans-serif;
  background-color: #1c2025; /* ダークモード時の背景色をダークグレーに設定 */
  color: #e6e6e6; /* ダークモード時のテキストカラーを白に設定 */
  line-height: 1.5;
  justify-content: center; /* 水平方向に中央に配置 */
  align-items: center; /* 垂直方向に中央に配置 */
  margin: 0 5%; /* 左右のマージンを設定 */
  font-size: 15px;
}

/* リンクのスタイル */
a {
  color: #0078d4; /* リンクのカラーを青に設定 */
  text-decoration: none; /* リンクの下線を削除 */
}

a:hover {
  text-decoration: underline; /* リンクにホバー時に下線を表示 */
}

pre {
  padding: 1em; /* 内側の余白 */
  margin: 0 0 1.5em; /* 外側の余白 */
  background: #4a4a4a; /* 背景色 */
  white-space: pre;
  max-height: 30em;
  overflow-x: auto;
  font-family: Consolas;
}
